####-*.patch
.buildozer/
.devlocaltmp/
.tox/
bin/
build/
contrib/pyinstaller/
dist/
Electrum-ganja.egg-info/
Electrum_ganja.egg-info/
env/
locale/
packages
*_trial_temp
*.pyc
*.swp
*.egg/
/app.fil
/electrum.py
gui/qt/icons_rc.py

# tox files
.cache/
.coverage
