# If you want Electrum-Ganja to appear in a Linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrum-ganja.desktop

[Desktop Entry]
Comment=Lightweight Ganjacoin Client
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum %u"
GenericName[en_US]=Ganjacoin Wallet
GenericName=Ganjacoin Wallet
Icon=electrum_ganja
Name[en_US]=Electrum Ganjacoin Wallet
Name=Electrum Ganjacoin Wallet
Categories=Finance;Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/ganjacoin;
Actions=Testnet;

[Desktop Action Testnet]
Exec=sh -c "PATH=\"\\$HOME/.local/bin:\\$PATH\" electrum-ganja --testnet %u"
Name=Testnet mode
